body {
    margin: 0;
    padding: 0;
    background: url(deniz.jpg);
    background-size: cover;
}
.box {
    width: 450px;
    background: gray;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
}
.box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 0.6s;
cursor: pointer;

}
.box img:hover{
    transform: scale(0.8);
}
.box h1{
 font-size: 38px;
 letter-spacing: 3px;
 font-weight: 95;
 color: aqua;

}
.box h5{
    font-size: 20px;
    font-weight:100 ;
    letter-spacing: 3px;
    color: darkblue;
}
.box p {
    text-align: justify;
    color: black;

}
ul {
    margin: 0;
    padding:0 ;
}
.box li{
    display:inline-block ;
    margin: 6px;
    list-style: none;

}
.box li{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: white;
}